.header {
    background-color: black;
    height: 68px;
    max-height: 68px;
    width: 100vw;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 14px;
    align-items: center;
    display: flex;
    background-color: rgb(20, 20, 20);
}

.logo {
    max-width: 92.5px;
    max-height: 25px;
    width: 92.5px;
    height: 25px;
}

.menu-list {
    color: white;
}
.menu-list li {
    display: inline;
    float: left;
    margin-left: 20px;
}

.menu-list li a:link{
    color: white;
    text-decoration: none;
}